/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.channel-col {
    border-right: 1px solid #e5e5e5;
    margin-bottom: 5px;
    cursor: move;
    min-width: 15px;
}
.channel-col ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px;
}
.channel-col ul li:first-child {
    background-color: #e2e2e2;
    font-weight: bolder;
    font-size: larger;
}
.channel-col ul li:hover,
.channel-col ul li.active {
    background-color: #eee;
}

.channel-col ul li div {
    padding: 5px;
    font-size: smaller;
    font-weight: normal;
    background-color: #f9f9f9;
}

.row .channel-col:last-child {
    border-right: none;
}

#channel-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#channel-list li {
    cursor: move;
    display: block;
    height: 50px;
    background-color: #e2e2e2;
    padding: 8px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}
#channel-list li.disabled {
    font-style: italic;
    background-color: inherit;
    color: #ddd;
}

h2 i.glyphicon {
    top: 5px;
}
