<h2>
    <i class="glyphicon glyphicon-info-sign"></i>
    Tv:ssä nyt
</h2>

<hr />

<div ng-contoroller="AboutCtrl">    
    <div class="row">
        <div class="col-md-12">
            <p>Ohjematiedot <a href="http://api.elisaviihde.fi/">http://api.elisaviihde.fi</a></p>
            <p>Api kuvaus <a href="http://murobbs.muropaketti.com/threads/mistae-tv-ohjelmatiedot-json-tai-xml-formaatissa.977001/">http://murobbs.muropaketti.com</a></p>
            <p>Lähdekoodi <a href="http://github.com/rikniitt/">GitHub</a></p>
            <p>{{ year }}&copy;</p>
        </div>
    </div>
</div>