<div ng-contoroller="MainCtrl">
    <div class="channel-container" ui-sortable="sortableOptions" ng-model="channels">
        <div class="row" ng-repeat="row in channels.rows">
            <div class="col-md-{{ colSize }} channel-col" ng-repeat="channel in row">
                <h2>
                    {{ channel.channelname }}
                    <button class="btn btn-default btn-xs pull-right" type="button" ng-click="collapseToggle(channel)">
                       <span class="glyphicon" ng-class="{true: 'glyphicon-menu-down', false: 'glyphicon-menu-up'}[channel.collapsed]"></span>
                    </button>
                </h2>
                <ul>
                    <li ng-repeat="program in channel.programs" ng-hide="program.hidden" ng-click="detailsToggle(program)">
                        {{ program.simple_start_time }} {{ program.name | urlDecode }}
                        <div ng-show="program.details && !program.details.collapsed">
                            {{ program.details.short_text | urlDecode }}
                            {{ program.details.description | urlDecode }}
                            <dl class="dl-horizontal">
                                <dt>Kesto</dt><dd>{{ program.details.flength }}</dd>
                                <dt>Alkaa</dt><dd>{{ program.details.start_time }}</dd>
                                <dt>Loppuu</dt><dd>{{ program.details.end_time }}</dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
